version: '3.8'

services:
  nn:
    image: hadoop-base:latest
    container_name: nn
    hostname: nn
    entrypoint: /opt/hadoop/entrypoint.sh
    ports:
      - 50070:50070
      - 9000:9000
    networks:
      - bridge

  dn1:
    image: hadoop-base:latest
    container_name: dn1
    hostname: dn1
    entrypoint: /opt/hadoop/entrypoint.sh
    networks:
      - bridge

  dn2:
    image: hadoop-base:latest
    container_name: dn2
    hostname: dn2
    entrypoint: /opt/hadoop/entrypoint.sh
    networks:
      - bridge

  dn3:
    image: hadoop-base:latest
    container_name: dn3
    hostname: dn3
    entrypoint: /opt/hadoop/entrypoint.sh
    networks:
      - bridge


networks:
  bridge: